body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .nav-wrapper {
  margin: 40px;
}

.slider .indicators .indicator-item.active {
  background-color: #ff0000;
}

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  padding: 0 15px;
}