body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .nav-wrapper {
  margin:0 30px;
}

.slider .indicators .indicator-item.active {
  background-color: #ff0000;
}

main {
  flex: 1 0 auto;
}

.gradient-color{
  background-image: linear-gradient(90deg, rgb(71, 108, 213) 5%, rgb(77, 77, 187) 95%) !important;
  background-position-x: initial !important;
  background-position-y: initial !important;
  background-size: initial !important;
  background-repeat-x: initial !important;
  background-repeat-y: initial !important;
  background-attachment: initial !important;
  background-origin: initial !important;
  background-clip: initial !important;
  background-color: initial !important;
}

.charity-list-item {
  margin: 10px;
}

.item-title {
  font-size: 20px;
  font-weight: bold;
}

.item-title a {
  color: #67519F;
}

.item-details > div{
  margin-top: 5px;
}

.item-details .item-sectors {
  margin: 30px 0 15px;
}

span.badge {
  margin: 0 14px 0 0;
  float: none;
}

span.badge.new {
  font-weight: 600;
  font-size: 0.8em;
  padding: 4px;
  background-color: #DB1733;
}

.dark-muted-blue {
  background-color: #485CD2;
}

.charity-detail {
  margin: 15px 0 10px;
}

.charity-detail .title {
  margin: 10px 0;
  color: #67519F;
  font-size:30px;
  font-weight: bold;
}

.description-detail {
  margin-top: 20px;
}

#charity-logo {
  margin-top: 10px;
}

#not-found-logo {
  width: 800px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}