body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav .nav-wrapper {
  margin: 0 30px 0 30px;
}

.slider .indicators .indicator-item.active {
  background-color: #ff0000;
}

main {
  flex: 1 0 auto;
}

.charity-list-item {
  margin: 10px;
}

.item-title {
  font-size: 20px;
  font-weight: bold;
}

.item-details > div{
  margin-top: 5px;
}

.item-details .item-sectors {
  margin: 30px 0 15px 0;
}

span.badge {
  margin: 0 14px 0 0;
  float: none;
}

span.badge.new {
  font-weight: 600;
  font-size: 0.8em;
  padding: 4px;
}