<html lang="en">

<head>
    <title>I Want To Help | Charities</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/css/materialize.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/detail.js"></script>
</head>

<body>

{{> header}}

<main>
    <div class="container">
        <input type="hidden" id="charity-id" value="{{id}}">
        <div class="charity-detail">

        </div>
    </div>

</main>

{{> footer}}

<script id="charity-detail-template" type="text/x-handlebars-template">
    <div class="title">\{{name}}</div>
    <div class="description-title">Description</div>
    <div class="description-detail">\{{{description}}}</div>
</script>

</body>

</html>