<html>

<head>
    <title>I Want To Help</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

{{>header}}

<main>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="https://images.pexels.com/photos/3791664/pexels-photo-3791664.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3791664.jpg&fm=jpg">
                <!-- random image -->
                <div class="caption center-align">
                    <h3>Nice title 1 here</h3>
                    <h5 class="light grey-text text-lighten-3">A small text</h5>
                </div>
            </li>
            <li>
                <img src="https://images.pexels.com/photos/4880397/pexels-photo-4880397.jpeg?cs=srgb&dl=pexels-cottonbro-4880397.jpg&fm=jpg">
                <!-- random image -->
                <div class="caption left-align">
                    <h3>Nice title 2 here</h3>
                    <h5 class="light grey-text text-lighten-3">A small text</h5>
                </div>
            </li>
            <li>
                <img src="https://images.pexels.com/photos/1108572/pexels-photo-1108572.jpeg?cs=srgb&dl=pexels-singkham-1108572.jpg&fm=jpg">
                <!-- random image -->
                <div class="caption right-align">
                    <h3>Nice title 3 here</h3>
                    <h5 class="light grey-text text-lighten-3">A small text</h5>
                </div>
            </li>
        </ul>
    </div>

    <div class="container">
        <div class="section">
            <h5>Charities</h5>
            <p>Cards with the top 5 (?) charities category</p>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Description</h5>
            <p>Nice description about the website. Maybe link to About page</p>
        </div>
    </div>
</main>

{{>footer}}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/index.js"></script>
</body>

</html>