<header>
    <nav class="gradient-color">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">I Want To Help</a>
            <ul id="nav-mobile" class="right">
                <li><a href="/charities">Charities</a></li>
            </ul>
        </div>
    </nav>
</header>